
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <app-imagensilueta></app-imagensilueta>
            </div>
            <div class="col-sm-6">
                <app-datospersonales></app-datospersonales>
                
            </div>
        </div>
        
        <fieldset>
        
        </fieldset>
        
        <fieldset>
            <app-habilidades></app-habilidades>
        </fieldset>
        
        <fieldset>
            <app-proyectos></app-proyectos>
        </fieldset>
       
    </div>
    



